.navbar{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: space-between;
   padding: 15px 25px;
   z-index: 2;
   margin: 0 10%;
 background-color: rgba(156, 156, 156, 0.379);
 /* border-color: rgb(0, 0, 0); */
 border-bottom: 2px;
}
.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.menu{
    display: flex;
}
.menuitems{
    display: flex;
    list-style: none;
    gap: 20px;
}
.menuitems a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
